### Gradle ###
.gradle
build

### IntelliJ IDEA ###
.idea/*
!.idea/fileColors.xml
!.idea/scopes/
!.idea/scopes/*

### Project ###
run

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
